aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
dnspython==2.8.0
durationpy==0.11
frozenlist==1.8.0
idna==3.19
influxdb-client==1.50.0
joblib==1.5.3
kubernetes==36.0.3
multidict==6.7.1
numpy==2.2.6
oauthlib==3.3.1
opentsdb-py==0.6.0
powerapi==2.10.0
prometheus_client==0.26.0
propcache==0.5.2
pymongo==4.17.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.2.0
reactivex==5.1.0
requests==2.34.2
requests-oauthlib==2.0.0
scikit-learn==1.7.2
scipy==1.15.3
setproctitle==1.3.7
six==1.17.0
smartwatts==2.4.1
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
websocket-client==1.9.1
yarl==1.24.5
